/* Master styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "News Cycle", "Segoe UI";
}

a{
    text-decoration: none;
}

/* Navbar Styles */
.navbar{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.navbar > .logo{
    margin-left: 10px;
}

nav{
    flex: 1;
    text-align: right;
    position: relative;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.header{
    margin-right: 20px;
}

#MenuItems{
    margin-top: 20px;
}

.more-options-btn{
    cursor: pointer;
}

.more-options-btn > div{
    height: 35px;
    width: 35px;
    background-image: url("menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.more-options-container{
    display: none;
    background-color: #fff;    
    position: absolute;
    right: 0px;    
    margin-right: 70px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

.more-options-container > li{
    display: block;
    list-style-type: none;
    border: 1px rgb(236 218 218) solid;
    padding: 13px;
    text-align: center;
    cursor:pointer;
}

.more-options-container > li:hover{
    background-color:rgb(231 231 231);
}

.profile-picture{
    cursor: pointer;
}

.profile-picture > div {
    height: 38px;
    width: 38px;
    border: none;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-settings-container{
    display: none;
    width: 300px;
    background-color: #fff;    
    position: absolute;
    right: 0px;    
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}

.profile-settings-li{
    display: block;
    list-style-type: none;
    border: 1px rgb(236 218 218) solid;
    padding: 13px;
    text-align: center;
    cursor:pointer;
}

.profile-settings-li:first-child{
    height:240px;
    cursor: default;
}

.proflie-settings-profilepicture-container{
    display: flex;
    justify-content: center;
}

.proflie-settings-profilepicture{
    border-radius: 50px;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile-settings-camera-icon{
    color: #000;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0px 3px 0px 0px rgb(231 231 231);
    border-radius: 50px;
    padding-top: 7px;
    padding-right: 7px;
    padding-left: 7px;
    cursor: pointer;
}

.profile-settings-camera-icon:hover{
    color:rgb(22, 82, 240);
}

.profile-settings-name{
    margin-top: 10px;
    font-size: 19px;
    cursor: initial;
}

.profile-settings-email{
    font-size: 15px;
    cursor: initial;
    margin-bottom: 15px;
}

.profile-settings-manage{
    border: 1px rgb(236 218 218) solid;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
}

.profile-settings-manage:hover{
    background-color:rgb(231 231 231);
}

.profile-settings-li-normal:hover{
    background-color:rgb(231 231 231);
}

.head-intro{
    padding-top: 100px;
    color: #fff;
}

.head-title{
    font-size: 100px;
    font-weight: 600;
    text-align: center;
}

datalist {
    position: absolute;
    background-color: rgb(231 231 231);;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 15px;
}
  
option {
    background-color: rgb(231 231 231);;
    padding: 4px;
    margin-bottom: 1px;
    cursor: pointer;
}

.main-page-status-element{
    font-size: 30px;
    text-align: center;
    color: black !important;
    font-weight: 600;
}

.fa-paint-brush{
    font-size: 18px !important;
    cursor: pointer;
    height: 25px;
    width: 22px;
    text-align: center;
    padding: 9px;
}

.hidden {
    display: none;
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.main-page-icon-container{
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    bottom: -40px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}

.main-page-icon-hover-text{
    position: relative;
    bottom: -10px;
    font-size: 14px;
    margin-left: 12px;
    transform: translateY(-25%)
}

.main-page-icon-container:hover{
    color: hsl(214deg 82% 51%)
}

.fa-exclamation-circle{
    margin-right: 7px;
    color: rgb(190, 59, 59);
}

.profile-settings-li-verifyme{
    color: rgb(190, 59, 59);
}

.on-head-create{
    margin-top: 40px;
}

.head-additonal-info{
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-family: "Prata";
    font-size: 20px;
}

.head-create-email{
    padding: 20px;
    border: 1px solid #1652f0;
    height: 60px;
    width: 350px;
    font-size: 18px;
    border-radius: 5px;
}

.head-create-email-containter{
    margin-right: 12px;
}

.head-submit-email{
    height: 60px;
    padding: 15px 30px !important;
    background-color: #1652f0;
    border: 0px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}

.head-submit-email > a{
    color: #fff;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.all-share-price-table-container{
    padding-top: 0px;
    padding-bottom: 52px;
}

.share-price-table-container{
    padding-top: 40px;
    padding-bottom: 52px;
}

.table-company-logo{
    height: 60px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    color: #1652f0;
}

#selected_table_company_logo{
    height: 60px;
    width: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    color: #1652f0;
}

.table-company-name{
    color: rgb(5, 15, 25);
    font-size: 16px;
    font-weight: 400;
}

tbody{
    font-size: 15px;
}

tbody > tr{
    cursor: pointer;
}

tbody > tr:hover{
    background: rgba(17, 51, 83, 0.02);
}

.table-trade-btn{
    font-size: 15px;
}

.info-title{
    font-size: 45px;
    font-weight: 500;
    font-family: "Prata";
    text-align: center;
    margin-bottom: 21px;
}

.info-additional-info{
    text-align: center;
    font-family: "Prata";
}

.about-platform-info-container{
    padding-top: 50px;
}

.info-about-platform{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
    flex-direction: row !important;
} 

.info-text{
    font-size: 13px;
    line-height: 1;
}

.contacts > a{
    color: rgb(27, 25, 25);
    text-decoration: none;
}

.home-btn{
    text-align: left;
    position: fixed;
    cursor: pointer;
}   

.home-btn > i {
    font-size: 25px;
}

/*

Create Account CSS

*/
.create-acc-mainbody{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.create-acc-title{
    margin-bottom: 40px;
    height: 34px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.13;
    text-align: center;
    color: #000;
}

.create-acc-content-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(17 51 83 / 2%) 0px 4px 12px 0px;
    padding: 24px;
    margin-bottom: 24px;
}

.create-acc-2col{
    display: flex;
    flex-direction: row;
}

.create-acc-content-form-input{
    z-index: 0;
    margin: 0px;
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    border-collapse: collapse;
    background: none;
    font-size: 18px;
    font-weight: 400;
    color: rgb(5, 15, 25);
}

.create-acc-content{
    margin-top: 20px;
}

.create-acc-content-form-checkbox-button{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 26px;
    min-width: 24px;
    height: 26px;
    border-radius: 4px;
    border: 2px solid rgb(179, 184, 187);
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
}

.create-acc-confirm-button-container{
    margin-top: 20px;    
}

.create-acc-confirm-button{
    display: flex;
    width: 100%;    
    color: #fff;
    margin: 0px;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px;
    font-size: 16px;
    border: 1px solid rgb(22, 82, 240);
    background-color: rgb(22, 82, 240);
    justify-content: center;
}



.create-acc-sign-in{
    font-size: 14px;
}

.create-acc-sign-in > a{
    color:rgb(22, 82, 240);
}

.sign-in-page-checkbox{
    margin-right: 10px;
    margin-top: 0px;
}

.sign-in-acc-content-form-container{
    min-width: 400px;
}

.sign-in-content-form-input{
    width: 400px;
}

.sign-in-end-links{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#create-acc-empty-field{
    color: rgb(156, 38, 38);
}

.password{
    position: relative;
    display: block;
}

.field-icon {
    position: absolute;
    right: 15px;
    transform: translateX(-80%);
    top: 20px;
    cursor: pointer;
}




/* Main Index Body */
.container_{
    max-width: 1300px;
    margin: auto;
    margin-right: 25px;
}

.col{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.row-col{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 90%;
    padding: 50px 0;
    padding-left: 40px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #1652f0;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    filter: brightness(90%);
    color: #fff;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
}

.col-3 > span{
    text-align: center;
    font-size: 18px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    font-size: 14px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: .5s;
}

.col-4 img{
    width: 100%;
    cursor: pointer;
}

.services-img{
    flex-basis: 33%;
    font-size: 14px;
    min-width: 200px;
    margin-bottom: 50px;
    cursor: pointer;
}

.services-img img{
    height: 200px;
    width: 300px;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

.col-2 .exclusive-product-img{
    padding: 50px;
}

/* Seller wanted page css */
.seller_wanted_compnay_name{
    font-size: 30px;  
    text-align: center; 
    transform: translateY(-30px);
}

.seller_wanted_compnay_price{
    font-size: 20px
}

.seller_wanted_details_container{
    border: 1px solid rgba(0, 0, 0, 0.651);
    padding: 40px;
    border-radius: 5px;
}

/* Footer */
/* TODO: Put footer so that it is always at the bottom */
footer{
    text-align: left;
    background: linear-gradient(to left, #fff, #1652f0);
    /* position: fixed; */
}

.footer-col-4{
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col-4 span{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px solid #ff523b;
    border-radius: 5px;
    transform: translateX(-50%);

}

.fa-envelope-o, .fa-phone{
    font-size: 30px !important;
}

.icons, .contacts{
    text-align: center;
}

.menu-icon{
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        margin-top: 30px;
        left: 0px;
        background: #fff;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;  
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .col-2 h1{
        font-size: 20px;
    }

    .col-2 p{
        font-size: 15px;
    }

    .row{
        text-align: center;
    }

    .col-1, .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .featured-cat::after{
        display: none;
    }

    .head-title{
        font-size: 38px;
        font-weight: 400;
        font-family: "Prata";
        text-align: center;
    }

    .head-create-email{
        width: auto;
    }

    .head-additonal-info{
        margin-top: 30px;
        text-align: center;
        font-weight: 400;
        font-family: "Prata";
        font-size: 18px;
    }

    .fe-cat{
        display: none;
    }

    .map .small-container .row .col-2 iframe{
        width: fit-content;
    }

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product .row .col-2 h1{
        font-size: 25px;
        line-height: 22px;
    }

    .services-img img{
        height: 200px;
        width: 210px;
    }

    .col-2 h2{
        font-size: 30px;
        padding-bottom: 20px;
    }

    .mapouter{
        padding: 10px;
    }

    .col-2 iframe{
        height: 200px;
        width: 100%;
    }

    .cart-info p, .cart-info small{
        display: none;
    }

    .explanation small{
        display: none;
    }

}
/* All products Page */

.row-2{
    justify-content: space-between;
    margin: 20px auto 50px;
}

select{
    border: 1px solid #333;
    padding: 5px;
}

select:focus{
    outline: none;
}

.product-btn{
    margin: 0 auto 80px;
    text-align: right;
}

.product-btn span{
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 7px;
    border: 1px solid #ff523b;
    text-align: center;
    cursor: pointer;
}

.product-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/* single product page */

.single-product{
    margin-top: 50px;
}

.single-product .row .col-2 img{
    padding: 0;
}

.single-product .row .col-2{
    padding: 20px;
}

.single-product .row .col-2 h4{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.single-product .row .col-2 input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    margin-right: 20px;
    font-size: 20;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* cart page */
.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border: 1px solid rgba(223, 211, 211, 0.884);
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

th{
    color: rgba(0, 0, 0, 0.651);
    text-align: center;
    padding: 5px;
    font-weight: normal;
}

td{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

thead > tr {
    border: 1px solid rgba(223, 211, 211, 0.884);;
}

tr td input{
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ff523b;
}

tr td a{
    color: #ff523b;
}

.cart-info img{
    height: 80px;
    width: 80px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

.purchase-btn-container{
    align-items: flex-end;
}

.client .row-2 img{
    width: 100px;
    height: 100px;
}

/* About Page */
.explanation small{
    line-height: 2;
    font-size: 17px;
}

.client > .client-logo > img{
    height: 50px;
    width: 100px;
}

/* Buy sell */
.buy-sell-title-container{
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.buy-sell-title{
    color: rgb(5, 15, 25);
    font-size: 24px;
    font-weight: 500;
}

.buy-sell-searchbar{
    display: flex;
    width: 350px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    border-collapse: collapse;
    background: none;
    font-size: 18px;
    font-weight: 400;
    color: rgb(5, 15, 25);
}

.buy-sell-input-field:focus{
    outline: none;
}

.buy-sell-input-field{
    border: none;
    font-size: 18px;
    font-weight: 400;
    width: 320px;
    color: rgb(5, 15, 25);
}

.buy-sell-input-icon{
    transform: translateY(6px);
    margin-right: 15px;
}

.buy-sell-selected-company{
    border: 1px solid rgba(223, 211, 211, 0.884);
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.buy-sell-selected-company:first-child{
    padding-left: 30px;
}

.buy-sell-selected-company:last-child{
    padding-right: 30px;
}

.buy-sell-sector-filter-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    align-items: center;
}

.buy-sell-sector-filter{
    margin-right: 20px;
}

.buy-sell-sector{
    cursor: pointer;
}

.buy-sell-sector-selected{
    padding: 4px 20px;
    background-color: rgb(241, 245, 254);
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: rgb(22, 82, 240);
}

.buysell-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#shareContainer{
    border: 1px solid rgb(219, 219, 219);
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    padding: 8px 10px;
    font-style: italic;
}

#changePrice{
    border: 1px solid rgb(219, 219, 219);
    font-size: 20px;
    display: inline-block;
    transform: translateY(-50px);
    border-radius: 5px;
    padding: 8px 10px;
    font-style: italic;
}

#changeName{
    margin-top: 110px;
    font-size: 60px;
    transform: translateY(-100px);
}

#quantity{
    height: 40px;
    padding-left: 10px;
    display: block;
}

.buy-sell-btn{
    background: #e7ebf5;
    padding: 15px 20px;
    color: black;
    display: block;
    width: 300px;
    text-align: center;
}

.buy-sell-btn:hover{
    color: rgb(22, 82, 240);
}

#premium{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    display: inline-block;
    padding: 10px 10px
}

#premium > input{
    width: 45px;
    font-size: 18px;
    border: none;
}

#premium > input:focus{
    outline: none;
}

#premium > input[type=number]::-webkit-inner-spin-button, 
#premium > input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.premium_input[type=number] {
  -moz-appearance: textfield;
}

#premium > span:first-child{
    border-right: 1px solid #000;
    padding-right: 5px;
    font-size: 18px;
}

.quantity{
    display: inline-block;
    padding: 10px 10px;
    margin-right: 20px;
}

.premium-container{
    transform: translateY(-25px);
}    

.quantity > input{
    margin-top: 5px;
}

.quantity-container{
    display: block;
    margin-bottom: 20px;
}

#total-price{
    border: 1px solid rgb(219, 219, 219);
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    padding: 8px 10px;
}

#changeImg{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#total-text{
    border-right: 1px solid #000;
    padding-right: 5px;
}

#total-price-text{
    /* font-style: bold; */
    font-family: "arial"
}

#currency-text{
    font-size: 15px;
}

#premium-input{
    border-left: 1px solid #000;
    padding-left: 5px;
}

#shares-text{
    font-size: 18px;
    font-weight: bold;
}